/* Main.css*/
*{font-family:YouYuan;color:#0c0000;} 
body{width:100%;height:auto;position: relative;
    padding:2px;margin:0 auto;}
    #header{width:984px;height:120px;background:#FFFFFF;}
    #logo{width:199px;height:80px;float:left;
    background:#FFFFFF url("./img/logo.jpg")no-repeatleft bottom;}
    #nav{clear:both; width:984px;height:40px;background:#EBEBEB;}
    #picture{width:984px;height:337px;background:#828282;}
    #main{width:984px;height:250px;border-bottom:5;pxridge #DEDEDE;}
    #left{width:600px;height:200px;background:#FFFFFF;
        float:left;border-right:10px solid#FFFFFF;}
	#h1{font-size:20px;}
    #center{width: 300px;height:200px;float:left;
    background:#FFFFFF;border-right:5px solid#FFFFFF;position:absolute;top:550px;left:350px;}
    #right{width:300px; height:300px;background:#ffffff; float:right;position: relative;}
	#span{position:absolute;top:-200px;}
    #footer{clear:both; width:984px;height:40px;background:#F7F7F7;
    text-align:center;}
    table{text-align:center;line-height:1.5em;}
    a:link,a:visited,a:active{text-decoration:underline;font-size:20px;} a:link,a:visited,a:active{color:#828282;}
    #nav a:hover{color:#Bf0000;text-decoration:none;}
    #navtd{width:165px;height:40px;
    text-align:center;vertical-align:middle;font-size: 100px;}
    #line{background:url("line.pnq")no-repeat right center;} 
    #left li{border-bottom: 1px botted #009900;}
    #left a:hover{color: #Bf0000;text-decoration: underline;}
    ul{list-style:none;margin-left:0px;line-height:1.8em;}
    #footer p{margin-top:20px;text-align:center;color:#0e0000;}